<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.man.erpcenter.sales.biz.mapper.QemotCommentMapper" >
  <resultMap id="BaseResultMap" type="com.man.erpcenter.sales.client.po.QemotComment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="emot_id" property="emotId" jdbcType="BIGINT" />
    <result column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="muid" property="muid" jdbcType="VARCHAR" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time2" property="createTime2" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_time1" property="createTime1" jdbcType="VARCHAR" />
    <result column="reply_num" property="replyNum" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insertQemotComment" parameterType="map" useGeneratedKeys="true" keyProperty="qemotCommentId" >
    insert into qemot_comment (
      emot_id, 
      tid, 
      uid,
      muid,
      mname, 
      content, 
      create_time2, 
      create_time,
      create_time1, 
      reply_num,
      create_gmt
      )
    values 
    ( 
      #{qemotInfoId}, 
      #{tid}, 
      #{qemotInfoUin}, 
      #{uin}, 
      #{name}, 
      #{content}, 
      #{createtime2},
      #{createTime}, 
      #{create_time},
      #{reply_num},
      now()
      )
  </insert>
  
  
   <insert id="insertQemotCommentBatch" parameterType="java.util.List" >
    insert into qemot_comment (
      id,
      emot_id, 
      tid, 
      uid,
      muid,
      mname, 
      content, 
      create_time2, 
      create_time,
      create_time1, 
      reply_num,
      create_gmt
      )
    values 
    <foreach collection="commentList" item="comment" separator=",">
    		 ( 
    		  #{comment.id},
		      #{comment.emotId}, 
		      #{comment.tid}, 
		      #{comment.uid}, 
		      #{comment.muid}, 
		      #{comment.mname}, 
		      #{comment.content}, 
		      #{comment.createtime2},
		      #{comment.createTime}, 
		      #{comment.createTime1},
		      #{comment.replyNum},
		      now()
     		 )
    
    </foreach>
  </insert>
  
  
  <select id="getMaxId" resultType="long">
  	<![CDATA[
		select ifnull(max(id),0) from  qemot_comment
  	]]>
  </select>
</mapper>