<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.man.erpcenter.sales.biz.mapper.QuserInfoPoMapper">
	<resultMap id="BaseResultMap" type="com.man.erpcenter.sales.client.po.QuserInfoPo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="uid" property="uid" jdbcType="BIGINT" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="sex_type" property="sexType" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="VARCHAR" />
		<result column="birthyear" property="birthyear" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="VARCHAR" />
		<result column="bloodtype" property="bloodtype" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="career" property="career" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="hc" property="hc" jdbcType="VARCHAR" />
		<result column="hp" property="hp" jdbcType="VARCHAR" />
		<result column="hco" property="hco" jdbcType="VARCHAR" />
		<result column="marriage" property="marriage" jdbcType="VARCHAR" />
	</resultMap>


	<resultMap id="QuserInfoRetryResultMap"
		type="com.man.erpcenter.sales.client.po.QuserInfoRetry">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="msgflag" property="msgflag" jdbcType="INTEGER" />
		<result column="emotflag" property="emotflag" jdbcType="INTEGER" />
	</resultMap>


	<insert id="addQuserInfo" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into quser_info (uid,
		nickname, sex, sex_type,
		age,
		birthyear, birthday,
		bloodtype, country, province,
		city, career,
		company,
		hc, hp, hco, marriage,create_gmt
		)
		values (
		#{data.uin},
		#{data.nickname},
		#{data.sex},
		#{data.sex_type},
		#{data.age},
		#{data.birthyear},
		#{data.birthday},
		#{data.bloodtype},
		#{data.country},
		#{data.province},
		#{data.city},
		#{data.career},
		#{data.company},
		#{data.hc},
		#{data.hp},
		#{data.hco},
		#{data.marriage},
		now()
		)
	</insert>

	<insert id="addQuserInfoN" parameterType="map">
		insert into
		quser_info_n (uid) values (#{uid} )
	</insert>

	<resultMap id="QemotInfoResultMap" type="com.man.erpcenter.sales.client.po.QemotInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="cmtnum" property="cmtnum" jdbcType="INTEGER" />
		<result column="createTime" property="createtime" jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="editMask" property="editmask" jdbcType="VARCHAR" />
		<result column="fwdnum" property="fwdnum" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pictotal" property="pictotal" jdbcType="INTEGER" />
		<result column="right" property="right" jdbcType="VARCHAR" />
		<result column="rt_sum" property="rtSum" jdbcType="VARCHAR" />
		<result column="secret" property="secret" jdbcType="VARCHAR" />
		<result column="tid" property="tid" jdbcType="VARCHAR" />
		<result column="ugc_right" property="ugcRight" jdbcType="VARCHAR" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="wbid" property="wbid" jdbcType="VARCHAR" />
		<result column="lbs_id" property="lbsId" jdbcType="VARCHAR" />
		<result column="lbs_idname" property="lbsIdname" jdbcType="VARCHAR" />
		<result column="lbs_name" property="lbsName" jdbcType="VARCHAR" />
		<result column="lbs_pos_x" property="lbsPosX" jdbcType="VARCHAR" />
		<result column="lbs_pos_y" property="lbsPosY" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="QemotPicResultMap" type="com.man.erpcenter.sales.client.po.QemotPic">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="tid" property="tid" jdbcType="VARCHAR" />
		<result column="emot_id" property="emotId" jdbcType="BIGINT" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="height" property="height" jdbcType="VARCHAR" />
		<result column="width" property="width" jdbcType="VARCHAR" />
		<result column="url1" property="url1" jdbcType="VARCHAR" />
		<result column="url2" property="url2" jdbcType="VARCHAR" />
		<result column="url3" property="url3" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="QemotCommentResultMap"
		type="com.man.erpcenter.sales.client.po.QemotComment">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="emot_id" property="emotId" jdbcType="BIGINT" />
		<result column="tid" property="tid" jdbcType="VARCHAR" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="muid" property="muid" jdbcType="VARCHAR" />
		<result column="mname" property="mname" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="createTime2" property="createtime2" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="reply_num" property="replyNum" jdbcType="VARCHAR" />
	</resultMap>



	<insert id="addQemotInfo" parameterType="map">
		insert into qemot_info (
		cmtnum, createTime,
		created_time, editMask, fwdnum,
		name, pictotal,
		right,
		rt_sum, secret, tid,
		ugc_right, uid, wbid,
		lbs_id, lbs_idname,
		lbs_name,
		lbs_pos_x, lbs_pos_y, content
		)
		values (
		#{cmtnum,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR},
		#{createdTime,jdbcType=TIMESTAMP}, #{editmask,jdbcType=VARCHAR},
		#{fwdnum,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{pictotal,jdbcType=INTEGER}, #{right,jdbcType=VARCHAR},
		#{rtSum,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR},
		#{tid,jdbcType=VARCHAR},
		#{ugcRight,jdbcType=VARCHAR},
		#{uid,jdbcType=VARCHAR}, #{wbid,jdbcType=VARCHAR},
		#{lbsId,jdbcType=VARCHAR}, #{lbsIdname,jdbcType=VARCHAR},
		#{lbsName,jdbcType=VARCHAR},
		#{lbsPosX,jdbcType=VARCHAR},
		#{lbsPosY,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
		)
	</insert>

	<!-- 批量新增 -->
	<insert id="insertBatchQemotPics" parameterType="map">
		insert into
		qemot_pic (tid, emot_id,
		uid, height, width,
		url1, url2, url3)
		values
		(#{tid,jdbcType=VARCHAR}, #{emotId,jdbcType=BIGINT},
		#{uid,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR},
		#{width,jdbcType=VARCHAR},
		#{url1,jdbcType=VARCHAR},
		#{url2,jdbcType=VARCHAR}, #{url3,jdbcType=VARCHAR})
	</insert>


	<select id="getMaxUid" resultType="long">
		select max(uin) maxuid from (
		select max(uid) uin from (
		select * from quser_info order by id desc
		limit 10
		) a
		union
		select max(uid) uin from (
		select * from quser_info_n
		order by id desc limit 10
		) b
		) c
	</select>

	<select id="getMinUid" resultType="long">
		select min(uin) minuid from (
		select min(uid) uin from (
		select * from quser_info order by id desc
		limit 10
		) a
		union
		select min(uid) uin from (
		select * from quser_info_n
		order by id desc limit 10
		) b
		) c
	</select>


	<update id="updateEmotNumById" parameterType="com.man.erpcenter.sales.client.po.QuserInfoPo">
  	<![CDATA[
  		update quser_info a set  
  		a.emot_num = #{emotNum},
  		a.flag = 1 
  		where a.id = #{id}
  	]]>
	</update>

	<select id="selectAllQuser" resultMap="BaseResultMap"
		parameterType="map">
  	<![CDATA[
  		select a.id,a.uid from quser_info  a
  	]]>
	</select>

	<update id="updateImgPhotoNum" parameterType="com.man.erpcenter.sales.client.mqvo.QemotInfoMqVo">
		update quser_info a
		set a.photo_num = #{photoNum},
		a.img_num = #{imgNum} where a.id =
		#{querInfoId}
	</update>

	<insert id="batchInsertUidsN" parameterType="java.util.Set"
		useGeneratedKeys="true">
		insert into quser_info_n(uid,create_gmt) values
		<foreach collection="uids" item="uid" separator=",">
			(#{uid},now())
		</foreach>
	</insert>
	
	
	<select id="getAllQuserInfoRetry" resultMap="QuserInfoRetryResultMap">
		<![CDATA[
			select * from quser_info_retry where flag = 0
		]]>
	</select>
	
	<select id="getMsgAllQuserInfoRetry" resultMap="QuserInfoRetryResultMap">
		<![CDATA[
			select * from quser_info_retry where ifnull(msgflag,0) <> 1
		]]>
	</select>
	<select id="getEmotAllQuserInfoRetry" resultMap="QuserInfoRetryResultMap">
		<![CDATA[
			select * from quser_info_retry where ifnull(emotflag,0) <> 1
		]]>
	</select>
	<update id="updateMsgFlagQuserInfoRetry" parameterType="long">
		<![CDATA[
			update quser_info_retry set msgflag = 1 where id = #{id}
		]]>
	</update>
	
	<update id="updateEmotFlagQuserInfoRetry" parameterType="long">
		<![CDATA[
			update quser_info_retry set emotflag = 1 where id = #{id}
		]]>
	</update>
	
	<insert id="addUserVistorBatch" parameterType="map" useGeneratedKeys="true">
			<![CDATA[
				insert into quser_visitor (muid,uid,name,vtime,qzone_level,crerate_date) values
			]]>
			<foreach collection="items" item="vinfo" separator=",">
				(
					#{muid},
					#{vinfo.uin},
					#{vinfo.name},
					#{vinfo.time},
					#{vinfo.qzone_level},
					now()
				)
			</foreach>
	</insert>
	
	<select id="getMsgAllQuserInfoRetryWithId" resultMap="QuserInfoRetryResultMap">
		<![CDATA[
			select * from quser_info_retry where   id >= #{startId} and id<=#{endId}
		]]>
	</select>
	



</mapper>